@charset "utf-8";

@import url("./ress.min.css");



*------------------------------------------------------------
common
------------------------------------------------------------*/
body {
  font-family: 'Noto Sans JP', 'Century Gothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 游ゴシック体, YuGothic, "Yu Gothic Medium", 游ゴシック, 'Yu Gothic', メイリオ, Meiryo, sans-serif;
}



#top * {
  box-sizing: border-box;
}

#top a {
  transition: opacity .3s;
}

#top a[href^="tel:"] {
  display: inline-block;
  transition: none;
}

#top a:hover {
  text-decoration: none;
}

#top a:focus-visible {
  outline: none;
}

#top img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#top .js-fadein {
  opacity: 0;
  transform: translate(0, 20px);
  transition-property: opacity, transform;
  transition-duration: 1s;
}

#top .scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

#top .pc-br {
  display: none;
}

#top .sp-br {
  display: inline;
}

#top .inner {
  width: calc(100% - 24px);
  max-width: 1200px;
  margin: 0 auto;
}





/* --------------------.form---------------------} */

#top .combineSearch div.selectBox .modalBg {
  background-color: rgb(225, 225, 225, 0.5) !important;
}

/* Tạo mũi tên bằng pseudo-element */

#top .combineSearch div.selectBox div.selectBoxInner .boxFlex:first-child #pref.title::before {
  right: 25px !important;
  top: 45px !important;
  width: 16px;
  height: 12px;
  pointer-events: none;
  left: unset !important;
  z-index: 99;
   background-image: url(../images/common/Polygon.svg);
}
#top .combineSearch   #city {
  position: relative;
  display: block;
}
#top .combineSearch  #city::after {
  position: absolute !important;
  color: "" !important;
  right: 25px !important;
  top: 45px !important;
  width: 16px;
  height: 12px;
  pointer-events: none;
  left: unset !important;
  z-index: 99;
   background-image: url(../images/common/Polygon.svg);
}
#top .combineSearch div.selectBox div.selectBoxInner .boxFlex:first-child #quickSearchJobBox.title::before {
  right: 25px !important;
  top: 45px !important;
  width: 16px;
  height: 12px;
  pointer-events: none;
  left: unset !important;
  z-index: 99;
   background-image: url(../images/common/plus.svg);
}

#top .combineSearch div.selectBox div.selectBoxInner .boxFlex:first-child #quickSearchFeatureBox.title::before {
  right: 25px !important;
  top: 45px !important;
  width: 16px;
  height: 12px;
  pointer-events: none;
  left: unset !important;
  z-index: 99;
   background-image: url(../images/common/plus.svg);
}


#top .combineSearch div.selectBox div.selectBoxInner {
  padding: 28px 15px 15px !important;
  width: 100%;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1) !important;
  margin-top: -15px !important;
  border-radius: 5px;
}

#top .combineSearch .combineSearchWrapper {
  box-shadow: none !important;
}
/* --------------------.combineSearch----------------------} */



#top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) select, #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) input {
  height: 44px !important;
  background: #EBFDFA !important; 
  border:  1px solid #47B08B !important;
  border-radius: 5px !important;
}


#top .combineSearch .combineSearchWrapper {
  background: none !important;
}

#top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) button {
  background: #FFBE10 !important;
  border: 0px !important;
  margin: auto;
}

#top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper {
  flex-basis: 170px !important;
  position: relative;
}
#top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper::after {
  content: "";
  position: absolute;
  background-image: url(../images/common/icon_serch_tb.svg);
  width: 30px;
  height: 30px;
  top: 7px;
  left: 14px;
  transform: scale(0.8);
}

#top .combineSearch div.selectBox .combineSearchTitle {
  height: 35px !important;;
  padding-left: 30px;
  max-width: 240px !important;;
  margin: auto !important;;
  border-radius: 5px ;
  background: #47B08B !important;
}

@media print, screen and (min-width: 768px) {
  
  #top .sp-br {
    display: none;
  }
  
  #top .pc-br {
    display: inline;
  }
  
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#city {
    flex-basis: 180px !important;
  }

  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#quickSearchJobBox,
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#quickSearchFeatureBox {
    flex-basis: 200px !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) {
    flex-basis: 180px !important;
  }

  #top .topContentBox .contentInner {
    max-width: 1000px !important;
  }
  #top .combineSearch {
    z-index: 99;
    max-width: 900px !important;
    margin: auto !important;
    margin-top: -50px !important;
    overflow: auto !important;
  }

  #top .combineSearch div.selectBox .combineSearchTitle {
    height: 60px !important;;
    padding-left: 30px;
    max-width: 354px !important;;
    margin: auto !important;;
    border-radius: 5px ;
    background: #47B08B !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner {
    padding: 48px 30px 15px !important;
    width: 100%;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1) !important;
    margin-top: -30px !important;
    border-radius: 10px;
  }



  #top .combineSearch div.selectBox div.selectBoxInner .boxFlex.freeword h4 {
    width: 160px !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).freeword {
    padding-top: 0px !important; 
    flex-basis: 390px !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) select, #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) input {
    height: 44px !important;
    background: #EBFDFA !important; 
    border:  2px solid #47B08B !important;
    border-radius: 5px !important;
 }

  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper {
    flex-basis: 220px !important;
    position: relative;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper::after {
    content: "";
    position: absolute;
    background-image: url(../images/common/icon_serch_tb.svg);
    width: 30px;
    height: 30px;
    top: 10px;
    left: 15px;
    transform: scale(1);
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper::after:hover {
    opacity: 0.7;

  }
}



@media print, screen and (min-width: 1400px) {


  #top .topContentBox .contentInner {
    max-width: 1200px !important;
  }
  #top .combineSearch {
    margin-top: -100px !important;
    max-width:1000px !important;
  }


  #top .combineSearch {
      margin: auto;
      margin-top: -192px;
      overflow: auto;
  }

  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#city {
    flex-basis: 200px !important;
  }

  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#quickSearchJobBox,
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#quickSearchFeatureBox {
    flex-basis: 220px !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) {
    flex-basis: 200px !important;
  }


  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper::after:hover {
    background: none !important;
    opacity: 0.7;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).freeword {
    padding-top: 0px !important; 
    flex-basis: 480px !important;
  }

}

@media print, screen and (min-width: 1800px) {
  #top .combineSearch {
    margin-top: -190px !important;
    max-width:1000px !important;
  }

}


#top .pc-br {
  display: none;
}

#top .sp-br {
  display: inline;
}


/* --------------------page Top ----------------------} */

#top  {
  color: #072C40;
}

/* -------------overview--------------} */

#top #overview .title-overview {
  font-size: min(23px, 6.13vw);
  color: #47B08B;
  font-weight: 700;
  margin-bottom: min(13px, 3.47vw);
  text-align: center;
  font-family: "ta-oonishi", sans-serif;
}

#top #overview .dt-over {
  font-size: min(14px, 3.73vw);
  line-height: min(23px, 6.13vw);
  margin-bottom: min(20px, 5.33vw);
  font-weight: 500;
}

#top #overview .dd-over {
  font-size: min(13px, 3.47vw);
  line-height: min(23px, 6.13vw);
  font-weight: 500;
}

#top #overview {
  position: relative;
  overflow: visible;
  min-height: min(517px, 137.87vw);
  padding: min(43px, 11.47vw) 0px 0px;
  margin-bottom: 27px;
}
#top  #overview::after {
  position: absolute;
  content: "";
  background-image: url("../images/contentBox/top/bg_overview_sp.png");
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: bottom;
}


@media print, screen and (min-width: 768px) {
  
  #top .sp-br {
    display: none;
  }
  
  #top .pc-br {
    display: inline;
  }
  


  #top #overview {
    height:630px;
    min-height: 405px;
    z-index: 99;
    padding: min(70px, 3.65vw) 0px min(10px, 0.52vw);
    margin-bottom: 145px;
  }
  
  #top #overview .title-overview {
    font-size: 44px;
    margin-bottom: 40px;
  }
  
  #top #overview::after {
    background-image: url("../images/contentBox/top/bg_overview_pc.png");
    bottom: min(-143px, -7.45vw);
  }
  
  #top #overview::before {
    position: absolute;
    content: "";
    background-image: url("../images/contentBox/top/bg_overview2_pc.png");
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0px;
    width: 100%;
    height: 100%;
    bottom: min(-138px, -7.19vw);
  }
  
  #top #overview .dl-overview {
    max-width: 1120px;
    margin: auto;
  }
  
  #top #overview .dt-over {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
  }
  
  #top #overview .dd-over {
    font-size: 18px;
    line-height: 28px;
  }



  @media print, screen and (min-width: 1250px) {
    #top #overview {
      height: min(1010px, 52.6vw);
      min-height: min(650px, 33.85vw);
      z-index: 99;
      padding: min(70px, 3.65vw) 0px min(10px, 0.52vw);
    }
    
    #top #overview .title-overview {
      font-size: min(53px, 2.76vw);
      margin-bottom: min(70px, 3.65vw);
    }

    #top #overview .dt-over {
      font-size: 30px;
      line-height: 44px;
      margin-bottom: min(40px, 2.08vw);
    }
    
    #top #overview .dd-over {
      font-size: 18px;
      line-height: 33px;
    }

  }



}



/* -------------pickup-------------} */
#top #pickup .contentHeading {
  text-align: center;
  margin-bottom: 28px;
}

#top #pickup .contentHeading .en{
  font-size: 35px;
  color: #47B08B;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.15;
}

#top #pickup .contentHeading .ja{
  font-size: 16px;
  font-weight: 500;
  padding-left: 0px;
}
#top #pickup .item-pic {
  margin-bottom: 30px;
}
#top #pickup .title-pic {
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  color: #47B08B;
  margin-bottom: 8px;
}
#top #pickup  .box-img {
  width: 85%;
  margin: auto;
}
#top #pickup .buton-pic {
  width: 170px;
  height: 35px;
  line-height: 35px;
  background: #FFBE10;
  border-radius: 30px;
  position: relative;
  color: white;
  font-size: 14px;
  padding-left: 25px;
  margin: auto;
  display: block;
  margin-top: -17px;
}
#top #pickup .buton-pic::after {
  content: "";
  position: absolute;
  background-image: url(../images/common/icon_serch_tb.svg);
  width: 30px;
  height: 30px;
  top: 4px;
  left: 29px;
  transform: scale(0.58);
}


@media print, screen and (min-width: 768px) {

  #top #pickup .list-pic {
    display: grid;
    max-width: fit-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  #top #pickup  .box-img {
    width: 100%;
  }
  #top #pickup .buton-pic {
    margin-top: 30px;
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
  }
  #top #pickup .contentHeading {
    margin-bottom: 55px;
  }
  #top #pickup .contentHeading .en {
    font-size: 70px;
  }
  #top #pickup .contentHeading .ja {
    font-size: 26px;
    margin-top: 5px;
  }
  #top #pickup .title-pic {
    font-size: 22px;
    margin-bottom: 30px;
  }
  #top #pickup .buton-pic::after {
    top: 11px;
    left: 26px;
    transform: scale(0.8);
  }
}

@media print, screen and (min-width: 1400px) {
  #top #pickup .title-pic {
    font-size: 26px;
    margin-bottom: 30px;
  }

}

/* -------------message-------------} */

#top #message {
  height: 3100px;
  position: relative;
  padding: 87px 0px;
} 

#top #message::after {
  position: absolute;
  content: "";
  background-image: url(../images/contentBox/top/bg_messge_sp.png);
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 190px;
  top: 0;
}

#top #message::before {
  position: absolute;
  content: "";
  background-image: url(../images/contentBox/top/bg_messge2_sp.png);
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  bottom: 0;
  height: 220px;
}




@media print, screen and (min-width: 768px) {

#top #message::after {
  background-image: url(../images/contentBox/top/bg_messge_pc.png);
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1074px;
  top: 15.5%;
}

#top #message::before {
  position: absolute;
  content: "";
  background-image: url(../images/contentBox/top/bg_messge2_pc.png);
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  bottom: 3.5%;
  height: 1190px;
}


}


@media print, screen and (min-width: 1900px) {
  #top #message::after {
    background-size: cover;
  }
  
  #top #message::before {

    background-size: cover;

  }

}