@charset "utf-8";

@import url("./ress.min.css");



*------------------------------------------------------------
common
------------------------------------------------------------*/
body {
  font-family: 'Noto Sans JP', 'Century Gothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 游ゴシック体, YuGothic, "Yu Gothic Medium", 游ゴシック, 'Yu Gothic', メイリオ, Meiryo, sans-serif;
}



#top * {
  box-sizing: border-box;
}

#top a {
  transition: opacity .3s;
}

#top a[href^="tel:"] {
  display: inline-block;
  transition: none;
}

#top a:hover {
  text-decoration: none;
}

#top a:focus-visible {
  outline: none;
}

#top img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#top .js-fadein {
  opacity: 0;
  transform: translate(0, 20px);
  transition-property: opacity, transform;
  transition-duration: 1s;
}

#top .scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

#top .pc-br {
  display: none;
}

#top .sp-br {
  display: inline;
}

#top .inner {
  width: calc(100% - 24px);
  max-width: 1200px;
  margin: 0 auto;
}





/* --------------------.form---------------------} */

#top .combineSearch div.selectBox .modalBg {
  background-color: rgb(225, 225, 225, 0.5) !important;
}

/* Tạo mũi tên bằng pseudo-element */

#top .combineSearch div.selectBox div.selectBoxInner .boxFlex:first-child #pref.title::before {
  right: 25px !important;
  top: 45px !important;
  width: 16px;
  height: 12px;
  pointer-events: none;
  left: unset !important;
  z-index: 99;
   background-image: url(../images/common/Polygon.svg);
}
#top .combineSearch   #city {
  position: relative;
  display: block;
}
#top .combineSearch  #city::after {
  position: absolute !important;
  color: "" !important;
  right: 25px !important;
  top: 45px !important;
  width: 16px;
  height: 12px;
  pointer-events: none;
  left: unset !important;
  z-index: 99;
   background-image: url(../images/common/Polygon.svg);
}
#top .combineSearch div.selectBox div.selectBoxInner .boxFlex:first-child #quickSearchJobBox.title::before {
  right: 25px !important;
  top: 45px !important;
  width: 16px;
  height: 12px;
  pointer-events: none;
  left: unset !important;
  z-index: 99;
   background-image: url(../images/common/plus.svg);
}

#top .combineSearch div.selectBox div.selectBoxInner .boxFlex:first-child #quickSearchFeatureBox.title::before {
  right: 25px !important;
  top: 45px !important;
  width: 16px;
  height: 12px;
  pointer-events: none;
  left: unset !important;
  z-index: 99;
   background-image: url(../images/common/plus.svg);
}


#top .combineSearch div.selectBox div.selectBoxInner {
  padding: 28px 15px 15px !important;
  width: 100%;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1) !important;
  margin-top: -15px !important;
  border-radius: 5px;
}

#top .combineSearch .combineSearchWrapper {
  box-shadow: none !important;
}
/* --------------------.combineSearch----------------------} */



#top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) select, #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) input {
  height: 44px !important;
  background: #EBFDFA !important; 
  border:  1px solid #47B08B !important;
  border-radius: 5px !important;
}


#top .combineSearch .combineSearchWrapper {
  background: none !important;
}

#top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) button {
  background: #FFBE10 !important;
  border: 0px !important;
  margin: auto;
}

#top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper {
  flex-basis: 170px !important;
  position: relative;
}
#top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper::after {
  content: "";
  position: absolute;
  background-image: url(../images/common/icon_serch_tb.svg);
  width: 30px;
  height: 30px;
  top: 7px;
  left: 14px;
  transform: scale(0.8);
}

#top .combineSearch div.selectBox .combineSearchTitle {
  height: 35px !important;;
  padding-left: 30px;
  max-width: 240px !important;;
  margin: auto !important;;
  border-radius: 5px ;
  background: #47B08B !important;
}

@media print, screen and (min-width: 768px) {
  
  #top .sp-br {
    display: none;
  }
  
  #top .pc-br {
    display: inline;
  }
  
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#city {
    flex-basis: 180px !important;
  }

  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#quickSearchJobBox,
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#quickSearchFeatureBox {
    flex-basis: 200px !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) {
    flex-basis: 180px !important;
  }

  #top .topContentBox .contentInner {
    max-width: 1200px !important;
  }
  #top .combineSearch {
    z-index: 99;
    max-width: 900px !important;
    margin: auto !important;
    margin-top: -50px !important;
    overflow: auto !important;
  }

  #top .combineSearch div.selectBox .combineSearchTitle {
    height: 60px !important;;
    padding-left: 30px;
    max-width: 354px !important;;
    margin: auto !important;;
    border-radius: 5px ;
    background: #47B08B !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner {
    padding: 48px 30px 15px !important;
    width: 100%;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1) !important;
    margin-top: -30px !important;
    border-radius: 10px;
  }



  #top .combineSearch div.selectBox div.selectBoxInner .boxFlex.freeword h4 {
    width: 160px !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).freeword {
    padding-top: 0px !important; 
    flex-basis: 390px !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) select, #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) input {
    height: 44px !important;
    background: #EBFDFA !important; 
    border:  2px solid #47B08B !important;
    border-radius: 5px !important;
 }

  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper {
    flex-basis: 220px !important;
    position: relative;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper::after {
    content: "";
    position: absolute;
    background-image: url(../images/common/icon_serch_tb.svg);
    width: 30px;
    height: 30px;
    top: 10px;
    left: 15px;
    transform: scale(1);
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper::after:hover {
    opacity: 0.7;

  }
}



@media print, screen and (min-width: 1400px) {


  #top .topContentBox .contentInner {
    max-width: 1200px !important;
  }
  #top .combineSearch {
    margin-top: -100px !important;
    max-width:1000px !important;
  }


  #top .combineSearch {
      margin: auto;
      margin-top: -192px;
      overflow: auto;
  }

  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#city {
    flex-basis: 200px !important;
  }

  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#quickSearchJobBox,
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick])#quickSearchFeatureBox {
    flex-basis: 220px !important;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]) {
    flex-basis: 200px !important;
  }


  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).submitBtnWrapper::after:hover {
    background: none !important;
    opacity: 0.7;
  }
  #top .combineSearch div.selectBox div.selectBoxInner span:not([class^=tick]).freeword {
    padding-top: 0px !important; 
    flex-basis: 480px !important;
  }

}

@media print, screen and (min-width: 1800px) {
  #top .combineSearch {
    margin-top: -190px !important;
    max-width:1000px !important;
  }

}


#top .pc-br {
  display: none;
}

#top .sp-br {
  display: inline;
}


/* --------------------page Top ----------------------} */

#top  {
  color: #072C40;
}

/* -------------overview--------------} */

#top #overview .title-overview {
  font-size: min(23px, 6.13vw);
  color: #47B08B;
  font-weight: 700;
  margin-bottom: min(13px, 3.47vw);
  text-align: center;
  font-family: "ta-oonishi", sans-serif;
}

#top #overview .dt-over {
  font-size: min(14px, 3.73vw);
  line-height: min(23px, 6.13vw);
  margin-bottom: min(20px, 5.33vw);
  font-weight: 500;
}

#top #overview .dd-over {
  font-size: min(13px, 3.47vw);
  line-height: min(23px, 6.13vw);
  font-weight: 500;
}

#top #overview {
  position: relative;
  overflow: visible;
  min-height: min(517px, 137.87vw);
  padding: min(43px, 11.47vw) 0px 0px;
  margin-bottom: 27px;
}
#top  #overview::after {
  position: absolute;
  content: "";
  background-image: url("../images/contentBox/top/bg_overview_sp.png");
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: bottom;
}


@media print, screen and (min-width: 768px) {
  
  #top .sp-br {
    display: none;
  }
  
  #top .pc-br {
    display: inline;
  }
  


  #top #overview {
    height:630px;
    min-height: 405px;
    z-index: 99;
    padding: min(70px, 3.65vw) 0px min(10px, 0.52vw);
    margin-bottom: 145px;
  }
  
  #top #overview .title-overview {
    font-size: 44px;
    margin-bottom: 40px;
  }
  
  #top #overview::after {
    background-image: url("../images/contentBox/top/bg_overview_pc.png");
    bottom: min(-143px, -7.45vw);
  }
  
  #top #overview::before {
    position: absolute;
    content: "";
    background-image: url("../images/contentBox/top/bg_overview2_pc.png");
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0px;
    width: 100%;
    height: 100%;
    bottom: min(-138px, -7.19vw);
  }
  
  #top #overview .dl-overview {
    max-width: 1120px;
    margin: auto;
  }
  
  #top #overview .dt-over {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 35px;
  }
  
  #top #overview .dd-over {
    font-size: 18px;
    line-height: 28px;
  }



  @media print, screen and (min-width: 1250px) {
    #top #overview {
      height: min(1010px, 52.6vw);
      min-height: min(650px, 33.85vw);
      z-index: 99;
      padding: min(70px, 3.65vw) 0px min(10px, 0.52vw);
    }
    
    #top #overview .title-overview {
      font-size: min(53px, 2.76vw);
      margin-bottom: min(70px, 3.65vw);
    }

    #top #overview .dt-over {
      font-size: 30px;
      line-height: 44px;
      margin-bottom: min(40px, 2.08vw);
    }
    
    #top #overview .dd-over {
      font-size: 18px;
      line-height: 33px;
    }

  }



}



/* -------------pickup-------------} */
#top #pickup .contentHeading {
  text-align: center;
  margin-bottom: 28px;
}

#top #pickup .contentHeading .en{
  font-size: 35px;
  color: #47B08B;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.15;
}

#top #pickup .contentHeading .ja{
  font-size: 16px;
  font-weight: 500;
  padding-left: 0px;
}
#top #pickup .item-pic {
  margin-bottom: 30px;
}
#top #pickup .title-pic {
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  color: #47B08B;
  margin-bottom: 8px;
}
#top #pickup  .box-img {
  width: 85%;
  margin: auto;
}
#top #pickup .buton-pic {
  width: 170px;
  height: 35px;
  line-height: 35px;
  background: #FFBE10;
  border-radius: 30px;
  position: relative;
  color: white;
  font-size: 14px;
  padding-left: 25px;
  margin: auto;
  display: block;
  margin-top: -17px;
}
#top #pickup .buton-pic::after {
  content: "";
  position: absolute;
  background-image: url(../images/common/icon_serch_tb.svg);
  width: 30px;
  height: 30px;
  top: 4px;
  left: 29px;
  transform: scale(0.58);
}


@media print, screen and (min-width: 768px) {

  #top #pickup .list-pic {
    display: grid;
    max-width: fit-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  #top #pickup  .box-img {
    width: 100%;
  }
  #top #pickup .buton-pic {
    margin-top: 30px;
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
  }
  #top #pickup .contentHeading {
    margin-bottom: 55px;
  }
  #top #pickup .contentHeading .en {
    font-size: 70px;
  }
  #top #pickup .contentHeading .ja {
    font-size: 26px;
    margin-top: 5px;
  }
  #top #pickup .title-pic {
    font-size: 22px;
    margin-bottom: 30px;
  }
  #top #pickup .buton-pic::after {
    top: 11px;
    left: 26px;
    transform: scale(0.8);
  }
}

@media print, screen and (min-width: 1400px) {
  #top #pickup .title-pic {
    font-size: 26px;
    margin-bottom: 30px;
  }

}

/* -------------bg-message-------------} */

#top .block-bg {
  height: 3100px;
  position: relative;
  padding: 47px 0px;
} 

#top .block-bg::after {
  position: absolute;
  content: "";
  background-image: url(../images/contentBox/top/bg_messge_sp.png);
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 190px;
  top: 0;
}

#top .block-bg::before {
  position: absolute;
  content: "";
  background-image: url(../images/contentBox/top/bg_messge2_sp.png);
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  bottom: 0;
  height: 220px;
}




@media print, screen and (min-width: 768px) {

  #top .block-bg::after {
    background-image: url(../images/contentBox/top/bg_messge_pc.png);
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0px;
    left: -10%;
    width: 119%;
    height: 1074px;
    top: 15.5%;
  }

  #top .block-bg::before {
    position: absolute;
    content: "";
    background-image: url(../images/contentBox/top/bg_messge2_pc.png);
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    bottom: 3.5%;
    height: 1190px;
  }


}
@media print, screen and (min-width: 1400px) {
  #top .block-bg::after {
    left: 0px;
    width: 100%;
    top: 15.5%;
  }

  #top .block-bg::before {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    bottom: 3.5%;
  }

}

@media print, screen and (min-width: 1900px) {
  #top .block-bg:after {
    background-size: cover;
  }
  
  #top .block-bg::before {

    background-size: cover;

  }

}



/* -------------message-job------------} */


#top #message-job .item-mes {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
}


#top #message-job .item-mes {
  margin-bottom: 55px;
}

#top #message-job .box-img {
  position: relative;
}
#top #message-job .box-img .text {
  position: absolute;
  color: #47B08B;
  font-size: 18px;
  font-family: "ta-oonishi", sans-serif;
  letter-spacing: -3px;
  margin-bottom: 0px;
  font-weight: 400;
}
#top #message-job .box-img .text.one{
  left: 8px;
  top: -17px;
  transform: rotate(-3.91deg);
}
#top #message-job .box-img .text.two {
  left: 25px;
  top: 7px;
  transform: rotate(-5.91deg);
}

#top #message-job .box-img .text.three {
  right: 25px;
  bottom: 9px;
  transform: rotate(-5.91deg);
}
#top #message-job .box-img .text.four {
  right: 0px;
  bottom: -11px;
  transform: rotate(-5.91deg);
}






#top #message-job .title-mes .en {
  font-size: 35px;
  color: #47B08B;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#top #message-job .title-mes .ja {
  font-size: 16px;
  font-weight: 500;
  padding-left: 0px;
  margin-top: -4px;
  display: block;
}

#top #message-job .title-mes {
  text-align: center;
  margin-bottom: 43px;
  width: 100%;
}

#top #message-job .box-link {
  margin-top: 19px;
} 

#top #message-job .box-link .text-box {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 14px;
  font-weight: 500;
}


#top #message-job .box-link .link-other {
  width: 170px;
  padding-left: 32px;
  height: 35px;
  border: 1px solid #47B08B;
  margin: auto;
  position: relative;
  display: block;
  border-radius: 30px;
  line-height: 35px;
  color: #47B08B;
  transition: background 0.5s;
  letter-spacing: -2px;
  background: white;
}
#top #message-job .box-link .link-other svg {
  position: absolute;
  right: 21px;
  top: 9px;
  width: 6px;
}
#top #message-job .box-link .link-other:hover {
  background: #47B08B;
  border: none;
  color: white;
}
#top #message-job .box-link .link-other:hover path {
  fill: white;
}

#top #message-job .item-mes:nth-child(2) .title-mes {
  margin-bottom: 27px;
}


@media print, screen and (min-width: 768px) {

  #top #message-job .item-mes {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }
  #top #message-job .title-mes .en {
    font-size: 70px;
  }
  #top #message-job .title-mes .ja {
    font-size: 26px;
  }
  #top #message-job .box-link .text-box {
    font-size: 18px;
    line-height: 31px;
    margin-bottom: 55px;
 }
  #top #message-job .item-mes:nth-child(1) .box-img {
    order: 2;
    width: calc(50% - 40px);
  }
  #top #message-job .item-mes:nth-child(1) .box-link {
    order: 1;
    width: calc(50% - 0px);
    margin-top: min(107px,5.57vw);
    padding-left: 42px;
  }
  #top #message-job .item-mes:nth-child(2) .box-img {
    order: 1;
    width: calc(50% - 40px);
  }
  #top #message-job .item-mes:nth-child(2) .box-link {
    order: 2;
    width: calc(50% - 0px);
    margin-top: min(105px,5.47vw);
    padding-right: 35px;
  }
  #top #message-job .item-mes:nth-child(1) .title-mes {
    position: absolute;
    left: 0px;
    top: -91px;
    width: 53%;
  }
  #top #message-job .item-mes:nth-child(2) .title-mes {
    position: absolute;
    right: 0px;
    top: -90px;
    width: 53%;
  }
  #top #message-job .item-mes {
    margin-bottom: min(255px,13.28vw);
  }

  #top .block-bg {
    
    position: relative;
    padding: 174px 0px;
    overflow: hidden;
  }

  #top #message-job .box-link .link-other {
    width: 300px;
    padding-left: 60px;
    height: 60px;
    border: 1px solid #47B08B;
    border-radius: 40px;
    line-height: 60px;
    letter-spacing: 0px;
    font-size: 24px;
  }
  #top #message-job .box-link .link-other svg {
    right: 36px;
    top: 22px;
    width: 11px;
  }

  #top #message-job .box-img .text {
    font-size: 36px;
    letter-spacing: -6px;
  }
  #top #message-job .box-img .text.one {
    left: -30px;
    top: -76px;
    transform: rotate(-3.91deg);
  }
  #top #message-job .box-img .text.two {
    left: 155px;
    top: -40px;
    transform: rotate(-5.91deg);
  }
  #top #message-job .box-img .text.three {
    right: 19px;
    bottom: 47px;
    transform: rotate(-1.91deg);
  }
  #top #message-job .box-img .text.four {
    right: -64px;
    bottom: 9px;
    transform: rotate(-1.91deg);
  }
}

/* @media print, screen and (min-width: 1400px) {



} */


/* ------message-job-(box-info)-----------} */

#top .list-mes {
  margin-bottom: 74px;
}
#top .box-info {
  margin-top: 0px;
}
#top .box-info .item-info {
  padding: 29px 12px 30px 12px;
  background: white;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 60px;
}
#top .box-info .title-info {
  width: 240px;
  height: 30px;
  line-height: 30px;
  color: white;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  background: #3FBDE2;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
}
#top .box-info .p-info {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 14px;
}
#top .box-info .box-img {
  max-width: 91%;
  margin: auto;
  margin-bottom: 13px;
}

#top .box-info .list-step .item-step {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 13px;
  align-items: center;
}

#top .box-info .list-step .step-01 {
   width: 95px;
   position: relative;
   text-align: center;
}
#top .box-info .list-step .step-02 {
   width: calc(100% - 95px);
   padding-left: 20px;
}



#top .box-info .list-step .step-01::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  background: #072C40;
  right: -8px;
  top: calc(50% - 10px);
}

#top .box-info .box-line {
    width: 250px;
    height: 59px;
   display: flex;
   padding: 10px 20px 10px 20px;
   background: #F6FBF9;
   margin-bottom: 20px;
   border-radius: 5px;
   flex-wrap: wrap;
   justify-content: space-between;
   font-size: 13px;
   line-height: 20px;
   font-weight: 500;
   margin: auto;
}
#top .box-info .box-line .blue {
  color: #47B08B;
}
#top .box-info .box-line  svg{
  width: 40px;
  height: 40px;
}
#top .box-info .box-line .text-line {
  width: calc(100% - 40px);
  padding-left: 10px;
}

#top #message-job .box-link.two .link-other {
  padding-left: 25px;
}


#top #message-job .box-link.two .link-other svg {
  right: 13px;
}

#top .box-info .item-info {
  position: relative;
}
#top .box-info .item-info:nth-child(2) .note-text {
  position: absolute;
  right: min(20px,0.33vw);
  top: min(7px,1.87vw);
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  background-image: url(../images/contentBox/top/not_sp.png);
  width: 96px;
  height: 88px;
  background-size: contain;
  transform: scale(0.5);
  padding: 20px 3px 3px 27px;
}
#top .box-info .item-info:nth-child(2) .title-info {
  background: #47B08B;
}


@media print, screen and (min-width: 768px) {

  #top .box-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  #top #message-job .item-mes:nth-child(2) {
    margin-bottom: min(220px, 13.28vw);
  }

  #top .box-info .title-info {
    width: 74%;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    font-size: 26px;
    top: -30px;
  }
  #top .box-info .item-info {
    padding: 50px 40px 55px 43px;
    border-radius: 5px;
    margin-bottom: 60px;
  }
  #top .box-info .p-info {
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 35px;
  }
  #top .box-info .list-step .item-step {
    font-size: 20px;
    margin-bottom: 25px;
  }
  #top .box-info .list-step .step-01 {
    width: 190px;
  }
  #top .box-info .list-step .step-02 {
    width: calc(100% - 190px);
    padding-left: 20px;
  }
  #top .box-info .box-img {
    margin-bottom: 27px;
  }
  #top .box-info .list-step .step-01::after {
    height: 40px;
    width: 2px;
    right: -6px;
    top: calc(50% - 20px);
  }
  #top .box-info .box-line svg {
    width: 63px;
    height: 63px;
  }
  #top .box-info .box-line .text-line {
    width: calc(100% - 63px);
    padding-left: 30px;
  }
  #top .box-info .box-line {
    width: 380px;
    height: 84px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
   line-height: 30px;
  }
  #top #message-job .box-info  .item-info:nth-child(1) .box-link.two {
    margin-top: 42px 
  }
  #top #message-job .box-link.two .link-other {
    padding-left: 45px;
  }
  #top #message-job .box-link.two .link-other svg {
    right: 21px;
  }
  #top .box-info .item-info:nth-child(2) .note-text {
    right: 52px;
    top: 58px;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    background-image: url(../images/contentBox/top/not_pc.png);
    transform: scale(1);
    padding: 20px 5px 5px 32px;
}
}
